:root {
    --first-text-color: #2E2F42;
    --second-text-color: #434455;
    --third-text-color: #FFFFFF;
    --fourth-text-color: #F4F4FD;
    --background-main-color: #FFFFFF;
    --background-second-color: #2E2F42;
    --background-third-color: #F4F4FD;
    --logo-first-color: #4D5AE5;
    --logo-second-color: #2E2F42;
    --logo-third-color: #F4F4FD;
    --bttn-background-color: #404BBF;
    --bttn-background-second-color: #F4F4FD;
    --bttn-first-color: #4D5AE5;
    --bttn-second-color: #FFFFFF;
    --border-bttn-color: #E7E9FC;
    --icon-color: #f4f4fd;
    --second-icon-color: #8e8f99;
    --background-color-icon: #4D5AE5;
    --label-text: #8e8f99;
    --check-link-color: #4D5AE5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    color: #434455;
    background: #FFFFFF;
}

/* Reset styles */

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none; 
}

.list {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----- Home page -----*/

/* Header (Home page , Portfolio) */
.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

 .header-nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: var(--first-text-color);    
}

.studio {
    color: #404BBF;
}

.studio::after {
    content:'';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    width: 100%;
}

.portfolio {
    color: #404BBF;
}

.portfolio::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    width: 66px;
}

.header-nav-link:is(:hover, :focus) {
    color: #404BBF;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: var(--logo-first-color)
        
}

.header-logo span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-second-color)
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.address-item {

}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--second-text-color);
}

.address-link:is(:hover, :focus) {
    color: #404BBF;
}

/* Main (Home page) */

/* Hero Section */

.section-hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    width: 100%;
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    color: var(--third-text-color);
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    color: var(--third-text-color);
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:is(:hover, :focus) {
    background: #404BBF;
}

/* Features Section */

.section-features {
    width: 100%;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-icon-box {
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--first-text-color);
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

/* Products Section */

.section-products {
    width: 100%;
    padding-bottom: 120px;
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--first-text-color);
}

.products-list {
    display: flex;
    gap: 24px;
}

.products-item {
    width: calc( (100% - 2 * 24px) / 3);
}



/* Team Section */

.section-team {
    width: 100%;
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--first-text-color);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc( (100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* Picture description (Cards) */

.cards {
    padding: 32px 0;
    background: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: var(--first-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: var(--second-text-color);
}

/* Social list */

.soc-icon {
    fill: var(--icon-color);
}

.soc-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.soc-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:is(:hover, :focus) {
    background-color: #404BBF;
}
/* Customers */

.section-customers {
    width: 100%;
    padding: 120px 0;
    background-color: var(--background-main-color);
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--first-text-color);
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
}

.customers-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--second-icon-color);
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:is(:hover, :focus) {
    border-color: #404bbf;
    color: #404bbf;
}

.customers-icon {
    fill: currentColor;
}

/* Footer (Home page , Portfolio) */

.section-footer {
    width: 100%;
    padding: 100px 0;
    background: var(--background-second-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-box {
    margin-right: 120px ;
}

.footer-logo {
    font-family: 'Raleway' , sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: var(--logo-first-color);
}

.footer-logo span {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-third-color)
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: var(--fourth-text-color);
}

.soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--background-color-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill:var(--icon-color);
}

.footer-soc-link:is(:hover, :focus) {
    background-color: #31d0aa;
}

/* Subscribe container */

.subscribe-container {
    margin-left: 80px;
}

.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}
    
.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.bttn-subscribe {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    margin-left: 16px;
}

/*----- Portfolio Page -----*/

.section-portfolio {
    padding: 96px 0 120px 0;
}

.portfolio-filters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

/* Buttons filters */
.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-bttn-color);
    border-radius: 4px;
    color: var(--bttn-first-color);
    background: var(--bttn-background-second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-button:is(:hover, :focus) {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* -Examples of projects- */

.portfolio-projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-projects-item {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-ptojects-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-ptojects-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-ptojects-link:is(:hover, :focus) .projects-block-text {
    transform: translateY(0%);
}

.projects-block {
    position: relative;
    overflow: hidden;
}

.projects-block-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--background-color-icon);
    color: var(--fourth-text-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-projects-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--first-text-color);
}

.portfolio-projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

/* Modal form */

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    margin-bottom: 16px;
}

.label-container {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-text);
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .input-icon {
    fill: #4D5AE5;;
}

.comment-label-container {
    margin-bottom: 16px;
}

.text-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
    border-color: #4D5AE5;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-text);
    
}

.check-link{
    color: var(--check-link-color);
    text-decoration: underline;
}

.checkbox-label span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    cursor: pointer; 
}

.input-checkbox:checked + .checkbox-label > .checkbox-span {
    background-color: #404BBF;
    border: none;
    fill: var(--icon-color);
}

.bttn-send {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bttn-send:is(:hover, :focus) {
    background: #404BBF;
    border-radius: 4px;
}